<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main>

        <section>

            <h1>❤️ Central da ONG</h1>

            <h2>Entrar</h2>

            <form method="POST">

                <label for="name">
                    Seu nome:
                </label>

                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                >

                <label for="project">
                    Projeto:
                </label>

                <select
                    id="project"
                    name="project"
                    required
                >

                    {% for project in projects %}

                        <option value="{{ project['name'] }}">
                            {{ project["name"] }}
                        </option>

                    {% endfor %}

                </select>

                <button type="submit">
                    Entrar
                </button>

            </form>

        </section>

    </main>

</body>

</html>